<DOCTYPE html>
<html lang="en" ng-app="meanNews">
  <head>
    <title>Mean News</title>
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/app/app.css">
    <link rel="stylesheet" href="/app/meanNews.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/navCtrl.js"></script>
    <script src="/auth/authService.js"></script>
    <script src="/auth/authCtrl.js"></script>
    <script src="/home/mainCtrl.js"></script>
    <script src="/posts/postsService.js"></script>
    <script src="/posts/postsCtrl.js"></script>
  </head>
  <body>
    <div class="col-10 col-offset-1">
      <div class="container">

        <div class="nav">
          <div ng-controller="NavCtrl">
            <div class="col-6">
              <a class="logo link" href="/#/home">Mean News</a>
              <a href=""> new |</a> <a ng-show="isLoggedIn()" href=""> threads |</a> <a href=""> comments |</a> <a href=""> show |</a> <a href=""> ask |</a> <a href=""> jobs |</a> <a href=""> submit </a>
            </div>
            <div class="col-6 pull-right">
              <a ng-show="isLoggedIn()">{{ currentUser() }}</a>
              <a ng-show="isLoggedIn()" href="" ng-click="logOut()">| Log Out</a>
              <a class="link" ng-hide="isLoggedIn()" href="/#/login">Login</a>
              <!-- <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li> -->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="content">
            <ui-view></ui-view>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>